PORT=8081
MONGO_URI=
MONGO_DB=projectedu_db
JWT_SECRET=secret123
REDIS_URL=
REDIS_ADDR=
REDIS_USERNAME=default
REDIS_PASSWORD=
REDIS_DB=0
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=project.education.tim3@gmail.com
SENDGRID_FROM_NAME=EduAccess


